.margin-top100-70-56{
	margin: 100px 0px 0px 0px;
}
@media screen and (max-width: 1046px) {
	.margin-top100-70-56{
		margin: 70px 0px 0px 0px;
	}
}
@media screen and (max-width: 768px) {
	.margin-top100-70-56{
		margin: 56px 0px 0px 0px;
	}
}
.padding-top72-72-57{
	padding: 72px 0px 0px 0px;
}
@media screen and (max-width: 1046px) {
	.padding-top72-72-57{
		padding: 72px 0px 0px 0px;
	}
}
@media screen and (max-width: 768px) {
	.padding-top72-72-57{
		padding: 57px 0px 0px 0px;
	}
}